.container {
    height: 100vh;
    width: 100%;
    background: var(--theme-green);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    padding: 20px 0px;
}
